/* KEY FRAMES */

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slide-up {
    from {
        transform: translateY(100px);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes slide-right {
    from {
        transform: translateX(100px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slide-down {
    from {
        transform: translateY(-100px);
    }

    to {
        transform: translateY(0);
    }
}

/* Animamos los productos */ 
.producto figure:hover > .capa {
    opacity: 1;
    visibility: visible;
}

.producto figure:hover > img {
    transform: scale(1.2);
}

.producto figure img::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(rgba(255,255,255, 0), rgba(0,0,0,0.8));
}

/* Animamos el logo en el navbar */

.logo-vanta {
    animation: fade 0.5s ease-in forwards, slide-down 0.7s ease-in-out;
}


/* Animamos el logo en el heroo */

.logo-hero {
    animation: fade 0.8s ease-in forwards, slide-right 0.9s ease-in-out;
}

/* Animamos las etiquetas a del HERO TOP*/

.hero-text a:hover {
    background: var(--primary);
    transition: all 0.5s;
}

/* Animamos etiquetas a del HERO BOTTOM*/

.container2 a:hover {
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-1%);
}