@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&display=swap");
/* Defino colores */
:root{
    --background: #02050e;
    --primary: #1e50ff;
    --secondary: #272d37;
    --btn-bg: #050d26;
    --bg-azul-10: #e9eeff;
    --bg-white: #fff;
    --bg-electric: #f0fbff;
    --nav-bg: #0f1525;
  
    /* text colors */
    --text-gray: #adb9c7;
    --text-white: #f3f4f6;
  
    /* decoration */
    --fire: #ff6d00;
    --electric: #64d3ff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style-type: none;
}

body {
    background: #040325;
    background: -webkit-linear-gradient(top left, #040325, #045070);
    background: -moz-linear-gradient(top left, #040325, #045070);
    background: linear-gradient(to bottom right, #040325, #045070);
}

/* Navbar */

header{
    /* background-color: linear-gradient(to bottom, #045070) #040325 ; */
    background: rgb(4,3,37);
    background: linear-gradient(90deg, rgba(4,3,37,1) 19%, rgba(4,80,112,1) 100%);
    border-radius: 2px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0px 80px;
    position: fixed;
    top: 0;
    z-index: 2
}


.logo-vanta{
    height: 60%;
}

.navbar,
.navbar-list {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.navbar{
    gap: 70px;
}
.navbar-list{
    gap: 25px;
}

.navbar-list a {
    display: flex;
    color: var(--text-gray);
    font-size: 15px;
}

.navbar-list li:first-child > a {
    color: var(--text-white);
    font-weight: 600;
}

/* Heroo */

.main {
    padding: 90px 0 0 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 100%;
}

#hero {
    padding: 0 130px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3%;
}

.hero-text {
    display: flex;
    flex-direction: column;
    padding: 70px 0;
    gap: 18px;
}

.hero-buttom {
    display: flex;
    gap: 15px;
}

#hero img {
    width: 30%;
}

.hero-text h1 {
    font-size: 50px;
    font-weight: 800;
}

.hero-text span {
    font-size: 53px;
    background: #FDBDFF;
    background: -webkit-linear-gradient(top left, #FDBDFF, #391CAD);
    background: -moz-linear-gradient(top left, #FDBDFF, #391CAD);
    background: linear-gradient(to bottom right, #FDBDFF, #391CAD);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;

}

.hero-text p {
    color: var(--text-gray);
    font-size: 16px;
}

.hero-text a {
    background-color: var(--secondary);
    color: var(--text-white);
    text-align: center;
    padding: 8px 15px;
    border-radius: 10px;
    font-size: 13px;
}

/* Hero description */

.hero-description-text {
    padding: 100px 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.hero-description-text h2 {
    font-size: 40px;
    font-weight: 800;
}

.contenedor-hero {
    padding: 70px 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}


.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    text-align: center;
}

.contenedor h5 {
    font-size: 18px;
}

.contenedor p {
    font-size: 14px;
    color: var(--text-gray);
}

.contenedor img {
    width: 80px;
    height: 80px;
}

/* Seccion SOMOS VANTA */

.somos-vanta {
    padding: 100px 0;
    width: 100%;
    background: #4BFAF9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.somos h2 {
    font-size: 100px;
    color: var(--secondary);
}

/* Seccion 2 SOMOS VANTA */

.make {
    padding: 0px 0px;
    background: var(--secondary);
    width: 100%;
    display: flex;
}

.container2 {
    padding: 40px 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    gap: 30px;
    cursor: pointer;
    transition: all 400ms ease;
    text-align: center;
}

.container2 img {
    width: 70px;
    height: 70px;
    filter: invert(83%) sepia(52%) saturate(1357%) hue-rotate(151deg) brightness(108%) contrast(96%);
}

.container2 h4 {
    color: var(--text-white);
    font-size: 18px;
}

.container2 p {
    padding: 0 40px;
    color: var(--text-gray);
    font-size: 17px;
}



/* Tercera SECTION */

.confi-container h2{
    font-size: 100px;
    color: var(--secondary);
}

/* Imagenes tercera SECTION */

.productos-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.first-section {
    display: flex;
    width: 100%;
    height: 50%;
}

.second-section {
    display: flex;
    height: 50%;
}

.producto figure {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border: 3px;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
    cursor: pointer;
}

.producto figure img {
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.capa {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0 0 20px 20px;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(11,103,123,0.6);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-shadow: 1px 1px black;
}

/* BOTON VER MAS */

.section-proyectos {
    padding: 100px 0;
    text-align: center;
}

.section-proyectos a {
    padding: 8px;
    background: var(--secondary);
    color: var(--text-white);
    border-radius: 10px;
    font-size: 14px;
    transition: all 500ms ease-out;
}

.section-proyectos a:hover {
    background: var(--primary);
    transition: all 500ms ease-out;
}


/* FOOTER */

footer {
    width: 100%;
    background: var(--btn-bg);
}

.footer-container {
    padding: 80px 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

/* FOOTER LEFT */

.footer-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 45%;
    gap: 10px;
}

.footer-right {
    width: 45%;
}

.footer-left img {
    width: 20%;
}

.footer-left h3 {
    font-size: 35px;
    background: rgb(62,147,224);
    background: linear-gradient(90deg, rgba(62,147,224,1) 19%, rgba(197,25,215,1) 100%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.footer-left p {
    font-size: 18px;
    color: var(--text-gray);
}

/* FOOTER RIGHT */

.footer-right {
    display: flex;
    flex-direction: column;

    gap: 22px;
}

.right-top {
    display: flex;
    font-size: 18px;
    color: var(--electric);
}

.right-bottom {
    display: flex;
    gap: 50px;
}

.right-bottom a {
    color: var(--text-gray);
    font-size: 14px;
}

.right-img-txt {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.content-contacto {
    display: flex;
    gap: 10px;
}

.bottom-img {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.bottom-img img {
    width: 20px;
    height: 20px;
}

.complement-img ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.terminos-txt {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.terminos-txt ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-right h3 {
    color: var(--bg-electric);
}

/* SEGUNDA SECTION (DERECHOS) */

.section-derechos {
    height: 50px;
    width: 100%;
    background: var(--nav-bg);
}

.div-derechos {
    padding: 15px 20px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--text-white);
    font-size: 14px;
}
